<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
    <a href="/users?lang=en">EN</a>
    &nbsp;|&nbsp;
    <a href="/users?lang=ru">RU</a>
</div>
<div>
<table border="1">
    <tr>
        <th th:text="#{th.name}">Name</th>
        <th th:text="#{th.surname}">Surname</th>
        <th th:text="#{th.age}">Age</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.name}">Name</a></td>
        <td><a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.surname}">Surname</a></td>
        <td><a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.age}">Age</a></td>
    </tr>
</table>
</div>
<br/>
<div>
    <form method="get" th:action="@{/users/new}">
        <input type="submit" th:value="#{users.button}">
    </form>
</div>
</body>
</html>